@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.container{
    display:flex;
    justify-content: center;
    border-radius: 10px;
}


img{
    width: 260px ;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-container{
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    padding-left: 20px;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.proname {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-size: 35px;
}

p{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.5;
}
.prices{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.perfume {
    align-items: center;
    font-family: Montserrat;
    font-weight: lighter;
    letter-spacing: 7px;
}

.og-price{
    font-family: Montserrat;
    font-weight: normal;
    color: hsl(228, 12%, 48%);
}

.discount-price{
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
}

.cart{
    background-color: hsl(158, 36%, 37%);
    font-family: Montserrat;
    color: #fff;
    padding: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 7px;

}

footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    body{
        height: auto;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    img{
        width: 100%;
        display: block;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }


    .right-container{
        width: 100%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;

    }

    .cart{
        margin-top: 0;
    }

    .sentence{
        margin-top: 0;
        margin-bottom: 0;
    }

    .proname{
        margin-top: 0;
        margin-bottom: 10px;
    }
}
   
